/********************************** CONTACT FORM PAGE **********************************/

/*layout*/
.main-content-contact{
    width: 35%;
    margin-right: 3%;
    float: left;
    margin-bottom: 20px;
}

.module-area-contact {
    width: 62%;
    margin-bottom: 20px;
    display: inline-block;
}

.contact-information .info-interakting, .contact-information .access-interakting {
    margin-bottom: 1rem;
    width: 50%;
    float: left;
}

.contact-information #google-maps-interakting {
    width: 100%;
    height: 225px;
    clear:both;
}
/* form style */
.main-content-contact .my-form-contact > form > div > div > textarea {
    height: 5rem;
}

.main-content-contact .my-form-contact > form > div > div > label {
    padding: 10px 0 5px 2px;
    font-weight: bold;
}

.main-content-contact .my-form-contact > form > div > div > input{
    padding: 5px;
}

/* GOOGLE MAP */
.google-maps-interakting iframe{
    width: 100%;
    height: 225px;
}

/* infos */
.contact-information .info-interakting br{
    margin: 0.25em;
}
