/********************************** LAYOUT **********************************/
body {
    clear: both;
    margin:auto;
    width:960px;
    padding: 10px;
}

.main-content-area1{
    width: 65%;
    margin-right: 5%;
    float: left;
    margin-bottom: 20px;
}

.footer{
    clear: both;
}

.module-area {
    width: 30%;
    margin-bottom: 20px;
    display: inline-block;
}
