/********************************** SIDEBAR **********************************/

/* CONTACT FORM */
.my-form-contact > form input, .my-form-contact > form textarea{
    display: block;
    width: 100%;
}
.my-form-contact > form textarea {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    min-height: 2em;

}
.my-form-contact > form label, .my-form-contact > form input[type="checkbox"] {
    padding: 3px 0 1px 1px;
    display: inline-block !important;
    width: 45%;
}

#Contact_captcha {
    margin-bottom: 20px;
}

.my-form-contact > form button {
    background-color: #e5590c;
    border: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    color: black;
}

.my-form-contact > form button:hover {
    cursor: pointer;
    background-color: #70a0d0;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}

.my-form-contact > form button:active {
    -webkit-box-shadow: 1px 1px 10px black inset,
    0 1px 0 rgba( 255, 255, 255, 0.4);
    -moz-box-shadow: 1px 1px 10px black inset,
    0 1px 0 rgba( 255, 255, 255, 0.4);
    -ms-box-shadow: 1px 1px 10px black inset,
    0 1px 0 rgba( 255, 255, 255, 0.4);
    -o-box-shadow: 1px 1px 10px black inset,
    0 1px 0 rgba( 255, 255, 255, 0.4);
    box-shadow: 1px 1px 10px black inset,
    0 1px 0 rgba( 255, 255, 255, 0.4);
}
