/********************************** CONTACT FORM PAGE **********************************/
#contactForm input, #contactForm textarea, #contactForm label, #contactForm select {
    display: block;
    width: 100%;
}
#contactForm textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 3em;
    height: 10em;
    margin-bottom: 30px;
}

#contactForm label {
    padding: 10px 0 5px 2px;
    font-weight: bold;
}
#contactForm input, #contactForm select{
    padding: 5px;
}